{% for data in images %}
    <div class="box max-w-full overflow-hidden">
            <a class="md:hidden pt-2 mb-2 flex px-2 items-center">
                <div>
                    {% if data.image.user.picture %}
                    <img src="{{ url_for('static', filename=data.image.user.picture) }}" alt="Profile Picture" class="mr-2 w-10 h-10 object-cover rounded-full active:brightness-70 hover:brightness-70">
                    {% else %}
                    <div class="mr-2 w-10 h-10 object-cover rounded-full bg-neutral-400 text-neutral-100 flex items-center justify-center select-none">
                        {{ data.image.user.username[0:1]|upper }}
                    </div>
                    {% endif %}
                </div>
                <div>
                    <p class="text-sm text-hitam-pastel truncate">{{ data.image.user.username }}</p>
                </div>
            </a>
            <a href="{{ url_for('phostel.images', item_id=data.image.id) }}">
                <div class="md:rounded-md overflow-hidden">
                    <img
                        src="{{ url_for('static', filename='uploads/lqip/' + data.image.filename) }}"
                        class="gallery bg-neutral-400 hover:brightness-70"
                        data-src="{{ url_for('static', filename='uploads/thumbnails/' + data.image.filename) }}"
                        loading="eager"
                        style="aspect-ratio: {{ data.image.width }} / {{ data.image.height }};"
                    >
                </div>
            </a>
            <div class="md:hidden flex mb-10 mt-3 px-2 border-solid gap-3">
                <a href="{{ url_for('phostel.download', image_id=data.image.id) }}" download class="active:bg-sky-900 hover:bg-sky-600 flex item-center bg-biru-politik text-abu-indie p-2 rounded-md text-sm"><span class="material-symbols-outlined mr-2">download</span>Unduh</a>
                <form method="POST" action="{{ url_for('phostel.like', image_id=data.image.id) }}" class="flex items-center text-abu-gelap">
                    <button type="submit" class="flex items-center">
                        {% if current_user.is_authenticated and data.liked %}
                        <span style="font-variation-settings: 'FILL' 1" class="material-symbols-outlined mr-1 cursor-pointer text-merah-merona">favorite</span> <!-- filled heart -->
                        {% else %}
                        <span class="material-symbols-outlined mr-1 cursor-pointer">favorite</span> <!-- empty heart -->
                        {% endif %}
                    </button>
                    <span class="text-sm">{{ data.like_count }}</span>
                </form>
                {% if current_user.is_authenticated and (data.image.user_id == current_user.id or current_user.admin) %}
                <button data-modal-target="hapus" class="cursor-pointer flex items-center text-abu-gelap" data-modal-toggle="hapus" type="button"><span class="material-symbols-outlined">delete</span></button>
                {% else %}
                {% endif %}
            </div>
    </div>
{% endfor %}