{% for image in images %}
    <div class="box max-w-full overflow-hidden">
        <a href="{{ url_for('phostel.images', item_id=image.id) }}">
            <div class="rounded-md overflow-hidden">
                <img
                    src="{{ url_for('static', filename='uploads/lqip/' + image.filename) }}"
                    class="gallery"
                    data-src="{{ url_for('static', filename='uploads/thumbnails/' + image.filename) }}"
                    loading="eager"
                    style="aspect-ratio: {{ image.width }} / {{ image.height }};"
                    alt="{{ image.title or image.filename }}"
                >
            </div>
        </a>
    </div>
{% endfor %}

{% if has_next %}
<div hx-get="{{ url_for('phostel.load') }}?page={{ page + 1 }}" hx-trigger="revealed" hx-swap="afterend"
    class="load-trigger">
</div>
{% endif %}