<footer class="border-solid border-abu-putih border-t mt-10">
    <div class="mt-15 mb-30 max-w-7xl mx-auto grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6">
        <div>
            <img class="h-5" src="{{ url_for('static', filename='assets/img/logo.png') }}" alt="">
        </div>

        <div class="grid gap-4">
            <h2 class="font-semibold">Tentang</h2>
            <ul class="space-y-1 text-sm grid gap-1">
                <li><a href="#" class="hover:underline">Help Center</a></li>
                <li><a href="#" class="hover:underline">Contact</a></li>
                <li><a href="#" class="hover:underline">Accessibility</a></li>
            </ul>
        </div>

        <div class="grid gap-4">
            <h2 class="font-semibold">Sosmed</h2>
            <ul class="space-y-1 text-sm grid gap-1">
                <li><a href="#" class="hover:underline">Help Center</a></li>
                <li><a href="#" class="hover:underline">Contact</a></li>
                <li><a href="#" class="hover:underline">Accessibility</a></li>
            </ul>
        </div>

        <div class="grid gap-4">
            <h2 class="font-semibold">Anggota</h2>
            <ul class="space-y-1 text-sm grid gap-1">
                <li><a href="#" class="hover:underline">Ega</a></li>
                <li><a href="#" class="hover:underline">Idham</a></li>
                <li><a href="#" class="hover:underline">Rizky</a></li>
            </ul>
        </div>

    </div>
</footer>