<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ image.title or image.filename }}</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/img/favicon.png') }}">
    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js" defer></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/output.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='photoswipe/photoswipe.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:FILL@0..1" rel="stylesheet"/>
    <meta name="theme-color" content="#DADADA">
</head>

<body class="text-sm bg-abu-indie">
    
    {% include 'navbar.html' %}

    <div id="share" class="z-10 m-5 hidden bg-abu-keputihan border-abu-putih border-solid border overflow-hidden rounded-lg shadow-lg w-64">
        <ul class="text-sm gap-3 divide-abu-putih divide-y " aria-labelledby="dropdownDefaultButton">
            <li class="grid p-2 gap-1">
                <button class="active:bg-neutral-300 hover:bg-neutral-300 flex item-center p-2 rounded-md" onclick="copyToClipboard('{{ url_for('phostel.images', item_id=image.id, _external=True) }}')"><box-icon type='logo' class="mr-2" name='instagram'></box-icon>Instagram</button>
                <button class="active:bg-neutral-300 hover:bg-neutral-300 flex item-center p-2 rounded-md" onclick="copyToClipboard('{{ url_for('phostel.images', item_id=image.id, _external=True) }}')"><box-icon type='logo' class="mr-2" name='twitter'></box-icon>Twitter</button>
                <button class="active:bg-neutral-300 hover:bg-neutral-300 flex item-center p-2 rounded-md" onclick="copyToClipboard('{{ url_for('phostel.images', item_id=image.id, _external=True) }}')"><box-icon type='logo' class="mr-2" name='pinterest'></box-icon>Pinterest</button>
                <button class="active:bg-neutral-300 hover:bg-neutral-300 flex item-center p-2 rounded-md" onclick="copyToClipboard('{{ url_for('phostel.images', item_id=image.id, _external=True) }}')"><box-icon type='logo' class="mr-2" name='whatsapp'></box-icon>Whatsapp</button>
                <button class="active:bg-neutral-300 hover:bg-neutral-300 flex item-center p-2 rounded-md" onclick="copyToClipboard('{{ url_for('phostel.images', item_id=image.id, _external=True) }}')"><span class="material-symbols-outlined mr-2">link</span>Salin Tautan</button>
            </li>
        </ul>
    </div>

    <main class="lg:mt-18 mt-20 mx-auto max-w-7xl text-sm m-5 p-3">
        <div class="item-baseline mx-auto max-w-7xl grid grid-cols-1 lg:grid-cols-2 gap-5 xl:gap-10 mb-10">
            <div id="gallery" class="grid justify-items-center place-content-center bg-neutral-400 rounded-sm overflow-hidden">
                <a class="cursor-zoom-in" href="{{ url_for('static', filename='uploads/' + image.filename) }}" data-pswp-width="{{ dimen.width }}" data-pswp-height="{{ dimen.height }}">
                    <img class="lg:max-h-[calc(100vh-6rem)] hover:brightness-70" src="{{ url_for('static', filename='uploads/thumbnails/' + image.filename) }}" alt="{{ image.title or image.filename }}">
                </a>
            </div>
            <div class="flex flex-col gap-3 lg:overflow-y-auto lg:max-h-[calc(100vh-6rem)] no-scrollbar">
                <div class="grid gap-3">
                    <p class="text-xl">{{ image.title or image.filename }}</p>
                    <a class="flex" href="{{ url_for('phostel.user', user_id=image.user_id) }}">
                        {% if user.picture %}
                        <img src="{{ url_for('static', filename=user.picture) }}" alt="Profile Picture" class="mr-2 w-10 h-10 object-cover rounded-full active:brightness-70 hover:brightness-70">
                        {% else %}
                        <div class="mr-2 w-10 h-10 object-cover rounded-full bg-neutral-400 text-neutral-100 flex items-center justify-center select-none">
                            {{ user.username[0:1]|upper }}
                        </div>
                        {% endif %}                        
                        <div>
                            <p class="text-sm"><span class="text-abu-gelap"></span>{{ image.user.username }}
                                {% if user.admin %}
                                <span class="text-biru-politik" alt="Admin Phostel">[A]</span>
                                {% endif %}
                            </p>
                            <p class="text-sm text-abu-gelap mb-2">Diunggah {{ humanized_time }}</p>
                        </div>
                    </a>
                    <div class="flex flex-wrap gap-2">
                        {% if tags %}
                            {% for tag in tags.split(';') %}
                                {% if tag and tag.strip() %}
                                    <span class="border-abu-putih border p-1 px-2 rounded-md text-abu-gelap">{{ tag }}</span>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div>
                    <div class="flex gap-5">
                        <a href="{{ url_for('phostel.download', image_id=image.id) }}" download class="active:bg-sky-900 hover:bg-sky-600 flex item-center bg-biru-politik text-abu-indie p-2 rounded-md"><span class="material-symbols-outlined mr-2">download</span>Unduh</a>
                        <button data-dropdown-toggle="share" class="cursor-pointer flex items-center text-abu-gelap"><span class="material-symbols-outlined">share</span></button>
                        <form method="POST" action="{{ url_for('phostel.like', image_id=image.id) }}" class="flex items-center text-abu-gelap">
                            <button type="submit" class="flex items-center">
                                {% if current_user.is_authenticated and liked %}
                                <span style="font-variation-settings: 'FILL' 1" class="material-symbols-outlined mr-1 cursor-pointer text-merah-merona">favorite</span> <!-- filled heart -->
                                {% else %}
                                <span class="material-symbols-outlined mr-1 cursor-pointer">favorite</span> <!-- empty heart -->
                                {% endif %}
                            </button>
                            <span>{{ like_count }}</span>
                        </form>
                        {% if current_user.is_authenticated and (image.user_id == current_user.id or current_user.admin) %}
                        <button data-modal-target="hapus" class="cursor-pointer flex items-center text-abu-gelap" data-modal-toggle="hapus" type="button"><span class="material-symbols-outlined">delete</span></button>
                        {% else %}
                        {% endif %}
                    </div>
                </div>
                {% if images %}
                <p class="text-xl mt-4 mb-2">Unggahan lain oleh {{ image.user.username }}</p>
                {% endif %}
                <div class="column">
                    {% for image in images %}
                    <div class="box">
                        <a href="{{ url_for('phostel.images', item_id=image.id) }}">
                            <img class="gallery" loading="lazy" src="{{ url_for('static', filename='uploads/thumbnails/' + image.filename) }}" alt="{{ image.title or image.filename }}" width="200" href>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>

    <div id="hapus" tabindex="-1" class="bg-neutral-950/70 hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 min-h-full">
        <div class="relative p-4 w-full max-w-md max-h-full">
            <div class="relative bg-abu-keputihan rounded-lg shadow-xl border-abu-gelap border-solid border">
                <button type="button" class="p-1 rounded-md hover:bg-neutral-200 active:bg-neutral-300 absolute top-3 end-3 flex justify-center items-center" data-modal-hide="hapus">
                    <span class="material-symbols-outlined cursor-pointer text-abu-gelap">close</span>
                    <span class="sr-only">Close modal</span>
                </button>
                <div class="p-4 md:p-5 grid justify-items-center">
                    <img class="h-20 mb-5" src="{{ url_for('static', filename='assets/img/warning.jpg') }}" alt="">
                    <h3 class="mb-5 font-normal">Apakah kamu yakin untuk menghapus gambar ini??</h3>
                    {% if current_user.admin %}
                    <span class="material-symbols-outlined text-biru-politik mb-2">local_police</span>
                    <h3 class="mb-5 font-normal text-biru-politik text-center">Kamu menggunakan hak admin untuk menghapus gambar ini!</h3>
                    {% endif %}
                    <div class="flex gap-2">
                        <form method="POST" action="{{ url_for('phostel.delete', image_id=image.id) }}" class="flex items-center text-abu-gelap">
                            <button type="submit" data-modal-hide="hapus" class="cursor-pointer bg-merah-merona hover:bg-red-400 active:bg-red-800 p-2 rounded-md flex items-center">
                                {% if current_user.is_authenticated and (image.user_id == current_user.id or current_user.admin) %}
                                <span class="material-symbols-outlined mr-1 text-abu-keputihan">delete</span><span class="text-abu-keputihan">Hapus</span>
                                {% else %}
                                {% endif %}
                            </button>
                        </form>
                        <button data-modal-hide="hapus" type="button" class="border-abu-gelap border-solid border text-abu-gelap hover:bg-neutral-200 active:bg-neutral-300 p-2 rounded-md flex items-center">Batalkan</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'footer.html' %}      

    </body>
    <script>
        function copyToClipboard(text) {
          navigator.clipboard.writeText(text)
            .then(() => alert('Copied to clipboard!'))
            .catch(err => alert('Failed to copy: ' + err));
        }
    </script>

    <script type="module">
        import PhotoSwipeLightbox from '/static/photoswipe/photoswipe-lightbox.esm.js';
        import PhotoSwipe from '/static/photoswipe/photoswipe.esm.js';

        const lightbox = new PhotoSwipeLightbox({
            gallery: '#gallery',
            children: 'a',
            pswpModule: () => PhotoSwipe
        });
        lightbox.init();
    </script>

</html>