<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eksplor Gambar-gambar gratis</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/img/favicon.png') }}">
    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/output.css') }}">
    <script src="{{ url_for('static', filename='scripts/script.js') }}" defer></script>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined&icon_names=chevron_right,delete,download,favorite,local_police,logout,menu,progress_activity,search,share,upload" rel="stylesheet"/>    
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js" defer></script>
    <meta name="theme-color" content="#DADADA">
</head>

<body class="bg-abu-indie">

    {% include 'navbar.html' %}

    <main class="mt-20 mx-auto max-w-7xl text-sm m-5 md:p-2">
        <!-- <p class="mb-5 !text-base">Satu gambar, memiliki seribu kata. <span class="text-biru-politik">Telusuri kata tersebut diatas <span class="material-symbols-outlined">arrow_insert</span></span></p> -->
        <div class="column" id="image-container">
            {% include "_load.html" %}
        </div> 

        {% if has_next %}
        <div hx-get="{{ url_for('phostel.load') }}?page={{ page + 1 }}" hx-trigger="revealed" hx-swap="beforeend" hx-indicator="#loading-indicator" hx-target="#image-container" class="load-trigger">
            <div id="loading-indicator" class="flex htmx-indicator justify-center mt-4">
                <span class="loading material-symbols-outlined text-abu-gelap text-4xl!">progress_activity</span>
            </div>   
        </div>
        {% endif %}
    </main>

    {% include 'footer.html' %}

</body>  

<script>
    function init() {
        var imgDefer = document.getElementsByClassName('gallery');
        for (var i = 0; i < imgDefer.length; i++) {
            if (imgDefer[i].getAttribute('data-src') && !imgDefer[i].classList.contains('loaded')) {
                imgDefer[i].onload = function () {
                    this.classList.add('loaded');
                };
                imgDefer[i].setAttribute('src', imgDefer[i].getAttribute('data-src'));
            }
        }
    }
    window.onload = init;

    document.body.addEventListener('htmx:afterSwap', function(evt) {
        init();
    });
</script>

</html>