<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eksplor Gambar-gambar gratis</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/img/favicon.png') }}">
    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/output.css') }}">
    <script src="{{ url_for('static', filename='scripts/script.js') }}" defer></script>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet"/>
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js" defer></script>
    <meta name="theme-color" content="#DADADA">
</head>

<body class="bg-abu-indie">

    {% include 'navbar.html' %}

    <main class="mt-20 mx-auto max-w-7xl text-sm m-5 p-2">
        <!-- <p class="mb-5 !text-base">Satu gambar, memiliki seribu kata. <span class="text-biru-politik">Telusuri kata tersebut diatas <span class="material-symbols-outlined">arrow_insert</span></span></p> -->
        <div class="column" id="image-container">
            {% include "_memuat.html" %}
        </div>
    </main>

    {% include 'footer.html' %}

</body>  

</html>