<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/output.css') }}">
    <script src="{{ url_for('static', filename='scripts/script.js') }}" defer></script>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js" defer></script>
    <meta name="theme-color" content="#DADADA">
</head>

<body class="bg-abu-indie">

    {% include 'navbar.html' %}

    <main class="mt-25 mx-auto max-w-7xl text-sm m-5 p-3">
        <div class="grid gap-5 text-justify">
                <p class="text-2xl font-bold text-justify">Tentang Kami</p> <br>
                <p class="leading-8">Disini kami sebagai kelompok 4 yang beranggotakan Danendra Eganatha Syahsamaauren, Idham Baihaqi, Krisna Rizky saputra. Telah membuat website berbasis Object Oriented Programming selama kurang lebih 4 bulan, <br> Alhamdulillah berkat rahmat Allah SWT. yang telah membantu akal sehat kita agar selalu terjaga dari hal-hal yang tidak baik. dan berkat restunya juga kita dapaat menyelesaikan hal yang awalnya tidak dapat kita tebak arahnya kemana???</p> 
                <br>  <p class="leading-15">terimakasih semuanya, <br> Hormat kami, <span class="font-bold"> Kelompok 4.</span></p>
        </div>
    </main>

    {% include 'footer.html' %}

    </body>
</html>