@import "tailwindcss";

@theme {
    --color-biru-politik: #0060B9;
    --color-abu-indie: #DADADA;
    --color-abu-keputihan: #F2F2F2;
    --color-hitam-pastel: #1A1A1A;
    --color-abu-gelap: #7A7A7A;
    --color-abu-putih: #B8B8B8;
    --color-merah-merona: #C92702;
}

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }
    .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
  }
  