/* inter-italic */
@font-face {
	font-family: Inter;
	font-style: italic;
	font-weight: 100 900;
	font-stretch: 100%;
	src: local("Inter Italic"), local("Inter-Italic"), url(../inter/inter-italic.woff2) format("woff2"), url(inter-italic.woff) format("woff");
	font-display: swap;
}
/* inter */
@font-face {
	font-family: Inter;
	font-style: normal;
	font-weight: 100 900;
	font-stretch: 100%;
	src: local("Inter Regular"), local("Inter-Regular"), url(../inter/inter.woff2) format("woff2"), url(inter.woff) format("woff");
	font-display: swap;
}

* {
    font-family: Inter;
}

.material-symbols-outlined {
    font-size: 20px !important;
    letter-spacing: normal;
}

.column {
    max-width: 1280px;
    columns: 3 24rem;
    column-gap: 0.5rem;
    font-size: 1.2rem;
}

.column-small {
    max-width: 1280px;
    columns: 3 15rem;
    column-gap: 0.5rem;
    font-size: 1.2rem;
}

.box {
    color: white;
    margin: 0 0 0.2rem;
    display: inline-block;
    width: 100%;
}
  
.gallery {
    width: 100%;
    filter: blur(20px) brightness(90%);
    transition: filter 0.2s ease-out;
}

.gallery.loaded {
    filter: blur(0) brightness(100%);
    transform: scale(1.0);
}

.loading{
    animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.login-bg {
    background-image: url(/assets/images/phostel-bg.png);
    background-color: #DADADA;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 50vw, auto;
    background-position: right;
}